/* Penn Brand Colors + Fonts

#f1f1f1 (off white) - white in template ('body-bg')
#01256e (blue) - 'primary' in template
#f2c100 (gold) - 'warning' in template
#95001a (red) - 'danger' in template
#4b4b4b (dark gray) - 'success' in template
#cac5bb (light gray) - 'info' in template
#6d0e0e - darker red
#ba191f - brighter red

Helvetica, Arial Narrow, Arial, sans-serif
Georgia, Times New Roman, Times, serif */


/* Page Set-Up */
html {
}

body {
  padding: 50px 0;
}

h3 {
  color: #95001a;
}

h4 {
  color: #01256e;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.navbar {
  border: 0;
  overflow-x: visible;
}

.nav.navbar-nav > li > a:hover,
.nav.navbar-nav > li.active > a:hover {
  color: #f2c100;
}

.navbar-fixed-bottom {
  height: 50px;
  padding-top: 9px;
  text-align: center;
}

/* Section Set-Up */
section {
  overflow-x: hidden;
  min-height: calc(100vh);
  padding: 0px 15px 50px 15px;
}

#gallery, #music, #tour {
  background-color: #cac5bb;
}

#events, #members, #about {
  background-color: #f1f1f1;
}

.tab-down-white {
  vertical-align: middle;
  border-top: 3vw solid #f1f1f1;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  width: 10vw;
  padding-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

.tab-down-gray {
  vertical-align: middle;
  border-top: 3vw solid #cac5bb;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  width: 10vw;
  padding-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

.nav-tabs.nav-justified > li.active > a,
.nav-tabs.nav-justified > li.active > a:hover,
.nav-tabs.nav-justified > li.active > a:focus {
  background-color: #f1f1f1;
  border-bottom-color: #f1f1f1;
}

@media (max-width: 768px) {
  .nav-tabs.nav-justified > li.active > a,
  .nav-tabs.nav-justified > li.active > a:hover,
  .nav-tabs.nav-justified > li.active > a:focus {
    border-color: transparent;
  }
}

iframe {
  width: 48vw;
  height: 27vw;
}

/* Gallery Section */

/*.carousel {
  margin-top: 15px;
  height: 72vh;
  text-align: center;
  background-color: #6d0e0e;
}

.carousel img {
  height: 100%;
  width: auto;
  max-height: 100%;
  margin: auto;
  border: 1vh solid transparent;
}

.carousel iframe {
  height: calc(72vh);
  min-height: 112px;
  max-height: 100%;
  width: calc(128vh);
  min-width: 200px;
  max-width: 100%;
  margin: auto;
  border: 1vh solid transparent;
}

.carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  background-image: none;
}*/

#gallery {
  color: #95001a;
  text-align: center;
}

/* Events Section */
#events .media:first-child {
  margin-top: 15px;
}

#events .fa-calendar-o {
  font-size: 90px;
  color: #cac5bb;
  margin-bottom: 10px;
}

#events button {
  width: 100%;
  margin-top: 2px;
  text-align: left;
}

/* Music Section */
#music {
  text-align: center;
}

.grid-item {
  padding: 10px;
}

.grid-item .grid-link {
    display: block;
    position: relative;
    margin: auto;
}

.grid-item .grid-link img {
  width: 100%;
}

.grid-item .grid-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(242, 193, 0,.8);
}

.grid-item .grid-link .caption:hover {
    opacity: 1;
}

.grid-item .grid-link .caption .caption-content {
    position: absolute;
    top: calc(50% - 25px);
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#music .fa-times-circle-o {
  color: #4b4b4b;
}

#music .album-details {
  max-height: calc(100vh - 100px);
}

#music .album-details h3 {
  margin-bottom: 20px;
  padding-left: 15%;
}

#music button, #music .panel {
  width: 70%;
  min-width: 130px;
  max-width: 350px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

#music .panel, #music .panel h4 {
  text-align: left;
  color: #01256e;
}

#music .album-details .cover-art-details {
  width: 80%;
  min-width: 130px;
  max-width: 390px;
}

audio {
  max-width: 100%;
}

/* Members Section */

#members .grid-item .grid-link .caption {
  background: rgba(149,0,26,.9);
}

#members .grid-item .grid-link .caption .caption-content {
  bottom: 0;
  width: 100%;
  text-align: left;
  font-size: 20px;
}

#members .member-profile {
  width: 110px;
  height: auto;
  border: 1px solid #f1f1f1;
}

#members .media-list {
  max-height: 100vh;
  overflow-y: scroll;
}

#members .media-list .media-object {
  width: 180px;
  height: auto;
  border: 1px solid #f1f1f1;
}

#members .media:first-child {
  margin-top: 15px;
}

#members .media-list .media-body {
  max-height: 180px;
}

#members .media-list .fa, #members .alumni-table thead .fa {
  color: #95001a;
  font-size: 16px;
  margin-right: 4px;
}

#members .media-list .fa-graduation-cap, #members .media-list .fa-microphone {
  margin-left: 16px;
}

#members .alumni-table {
  text-align: center;
}

#members .alumni-table table, h3 {
  text-align: left;
}

#members .alumni-table .btn-group .btn {
  color: #01256e;
}

#members .alumni-table thead .fa-sort {
  color: #01256e;
}

#members .alumni-video {
  margin-top: 50px;
  padding: 0px;
  text-align: center;
}

/* Tour Section */
#tour img {
  max-height: 50vh;
  margin-top: 20px;
}

/* About Section */
#about button {
  margin-bottom: 5px;
}

#about #footnote {
  text-align: center;
}
