/* Penn Brand Colors + Fonts

#f1f1f1 (off white) - white in template ('body-bg')
#01256e (blue) - 'primary' in template
#f2c100 (gold) - 'warning' in template
#95001a (red) - 'danger' in template
#4b4b4b (dark gray) - 'success' in template
#cac5bb (light gray) - 'info' in template
#6d0e0e - darker red
#ba191f - brighter red

Helvetica, Arial Narrow, Arial, sans-serif
Georgia, Times New Roman, Times, serif */

html {
}

body {
  padding: 50px 0;
}

h3 {
  color: #95001a;
}

h4 {
  color: #01256e;
}

.navbar {
  border: 0;
  overflow-x: visible;
}

section {
  overflow-x: hidden;
  min-height: 100vh;
  padding: 0px 15px 50px 15px;
}

.tab-down-white {
  vertical-align: middle;
  border-top: 3vw solid #f1f1f1;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  width: 10vw;
  padding-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

.tab-down-gray {
  vertical-align: middle;
  border-top: 3vw solid #cac5bb;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  width: 10vw;
  padding-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

#home {
  background-color: #cac5bb;
}

.carousel {
  margin: 30px;
}

.carousel .fa {
  color: #01256e;
}

.carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  background-image: none;
}

#title {
  color: #95001a;
  text-align: center;
}

#music {
  background-color: #f1f1f1;
  text-align: center;
}

#music .cover-art-grid {
  width: 75%;
  min-width: 130px;
  margin-top: 20px;
}

#music .album-details .cover-art-details {
  width: 80%;
  min-width: 130px;
  max-width: 390px;
  margin-top: 20px;
}

#music button {
  width: 70%;
  min-width: 130px;
  max-width: 350px;
  margin-top: 5px;
}

#events {
  background-color: #cac5bb;
}

#tour {
  background-color: #f1f1f1;
}

#members {
  background-color: #cac5bb;
}

#members .nav-tabs > li.active > a,
#members .nav-tabs > li.active > a:hover,
#members .nav-tabs > li.active > a:focus {
  background-color: #cac5bb;
  border-bottom-color: transparent;
}

#members .media-list .media-object {
  width: 180px;
  height: auto;
  border: 1px solid #f1f1f1;
}

#members .media:first-child {
  margin-top: 15px;
}

#members .media-list .media-body {
  max-height: 180px;
}

#members .media-list .fa, #members .alumni-table thead .fa {
  color: #95001a;
  font-size: 16px;
  margin-right: 4px;
}

#members .media-list .fa-graduation-cap, #members .media-list .fa-microphone {
  margin-left: 16px;
}

#members .alumni-table {
  text-align: center;
}

#members .alumni-table table, h3 {
  text-align: left;
}

#members .alumni-table .btn-group .btn {
  color: #01256e;
}

#members .alumni-table thead .fa-sort {
  color: #01256e;
}

#members .alumni-video {
  margin-top: 105px;
  padding: 0px;
  text-align: center;
}

#members .alumni-video iframe {
  width: 48vw;
  height: 27vw;
}

#about {
  background-color: #f1f1f1;
}

#about button {
  margin-bottom: 5px;
}

#about #footnote {
  text-align: center;
}

.navbar-fixed-bottom {
  height: 50px;
  padding-top: 9px;
  text-align: center;
}