/* Penn Brand Colors + Fonts

#f1f1f1 (off white) - white in template ('body-bg')
#01256e (blue) - 'primary' in template
#f2c100 (gold) - 'warning' in template
#95001a (red) - 'danger' in template
#4b4b4b (dark gray) - 'success' in template
#cac5bb (light gray) - 'info' in template
#6d0e0e - darker red
#ba191f - brighter red

Helvetica, Arial Narrow, Arial, sans-serif
Georgia, Times New Roman, Times, serif */

body {
  padding: 50px 0;
}

section {
  min-height: calc(100vh);
  padding-bottom: 50px;
}

#gallery, #music, #tour {
  background-color: #cac5bb;
}

#events, #members, #about {
  background-color: #f1f1f1;
}

.navbar {
  border: 0;
  overflow-x: visible;
}

.nav.navbar-nav > li > a:hover,
.nav.navbar-nav > li.active > a:hover {
  color: #f2c100;
}

.navbar-fixed-bottom {
  height: 50px;
  padding-top: 9px;
  text-align: center;
}

.tab-down-white {
  vertical-align: middle;
  border-top: 3vw solid #f1f1f1;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  width: 10vw;
  padding-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

.tab-down-gray {
  vertical-align: middle;
  border-top: 3vw solid #cac5bb;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  width: 10vw;
  padding-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

h3, 
#gallery,
#music .fa-times-circle-o,
#members .media-list .fa, #members .alumni-table thead .fa {
  color: #95001a;
}

h4,
#music .panel, #music .panel h4,
#members .alumni-table .btn-group .btn, #members .alumni-table thead .fa-sort {
  color: #01256e;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.nav-tabs.nav-justified > li.active > a,
.nav-tabs.nav-justified > li.active > a:hover,
.nav-tabs.nav-justified > li.active > a:focus {
  background-color: #f1f1f1;
  border-bottom-color: #f1f1f1;
}

@media (max-width: 768px) {
  .nav-tabs.nav-justified > li.active > a,
  .nav-tabs.nav-justified > li.active > a:hover,
  .nav-tabs.nav-justified > li.active > a:focus {
    border-color: transparent;
  }
}

#gallery {
  padding-top: 18px;
  text-align: center;
}

#gallery iframe {
  height: calc(100vh - 226px);
  width: calc((100vh - 226px)/9*16);
  min-height: 200px;
  min-width: calc(200px/9*16);
  max-height: calc(100vw/16*9);
  max-width: 100vw;
}

#events .media:first-child {
  margin-top: 15px;
}

#events .fa-calendar-o {
  font-size: 90px;
  color: #cac5bb;
  margin-bottom: 10px;
}

#events button {
  width: 100%;
  margin-top: 2px;
  text-align: left;
}

.grid-item {
  display: inline-block;
  padding: 10px;
}

#music .grid-item {
  height: calc((100vh - 3vw - 90px)/2);
  width: calc((100vh - 3vw - 90px)/2);
}

#members .grid-item {
  width: calc((100vh - 3vw - 168px)/2);
  min-width: 215px;
}

.grid-item .grid-link {
  display: block;
  position: relative;
  margin: auto;
}

.grid-item .grid-link img {
  width: 100%;
  height: auto;
}

.grid-item .grid-link .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #fff;
  font-size: 20px;
  padding-top: calc(50% - 25px);
}

.grid-item .grid-link .caption:hover {
  opacity: 1;
}

#music .grid-item .grid-link .caption {
  background: rgba(242, 193, 0,.8);
}

#members .grid-item .grid-link .caption {
  background: rgba(149,0,26,.9);
}

#members .grid-item .grid-link .caption-text {
  font-size: 18px;
  text-align: left;
  overflow-y: hidden;
  padding: 10px;
}

#music, .members-grid {
  text-align: center;
}

#music .cover-art-details, #music button, #music .panel {
  width: calc(100vh - 3vw - 300px);
  max-width: 100%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

#music .panel, #music .panel h4 {
  text-align: left;
}

#members .member-profile {
  width: 110px;
  height: auto;
  border: 1px solid #f1f1f1;
}

#members .media-list {
  max-height: 100vh;
  overflow-y: scroll;
}

#members .media-list .media-object {
  width: 180px;
  height: auto;
  border: 1px solid #f1f1f1;
}

#members .media:first-child {
  margin-top: 15px;
}

#members .media-list .media-body {
  max-height: 180px;
}

#members .media-list .fa, #members .alumni-table thead .fa {
  font-size: 16px;
  margin-right: 4px;
}

#members .media-list .fa-graduation-cap, #members .media-list .fa-microphone {
  margin-left: 16px;
}

#members .alumni-table {
  text-align: center;
}

#members .alumni-table table, h3 {
  text-align: left;
}

#members .alumni-video {
  padding: 50px 21px 0px 0px;
  text-align: center;
}

#tour iframe, .alumni-video iframe {
  height: calc((50vw - 36px)/16*9);
  width: calc(50vw - 36px);
  min-height: 200px;
  min-width: calc(200px/9*16);
  max-height: 465px;
  max-width: calc(465px/9*16);
}

#tour img {
  width: 100%;
  height: auto;
}

#about button {
  margin-bottom: 5px;
}

#about #footnote {
  text-align: center;
}
