/* Penn Brand Colors + Fonts

#f1f1f1 (off white) - white in template ('body-bg')
#01256e (blue) - 'primary' in template
#f2c100 (gold) - 'warning' in template
#95001a (red) - 'danger' in template
#4b4b4b (dark gray) - 'success' in template
#cac5bb (light gray) - 'info' in template
#6d0e0e - darker red
#ba191f - brighter red

Helvetica, Arial Narrow, Arial, sans-serif
Georgia, Times New Roman, Times, serif */

html {
}

body {
  padding: 50px 0;
}

h3 {
  color: #95001a;
}

h4 {
  color: #01256e;
}

.navbar {
  border: 0;
  overflow-x: visible;
}

section {
  overflow-x: hidden;
  min-height: 100vh;
  padding: 50px 15px;
}

#home {
  background-color: #cac5bb;
}

#music {
  background-color: #f1f1f1;
}

#events {
  background-color: #cac5bb;
}

#tour {
  background-color: #f1f1f1;
}

#members {
  background-color: #cac5bb;
}

#about {
  background-color: #f1f1f1;
}

#footnote {
  text-align: center;
}

#name-col, #school-col {
  width: 120px;
}

#part-col, #year-col {
  width: 50px;
}

.alumni-table {
  text-align: center;
}

.alumni-table table, h3 {
  text-align: left;
}

.alumni-table .btn-group .btn {
  color: #01256e;
}

.navbar-fixed-bottom {
  height: 50px;
  padding-top: 9px;
  text-align: center;
}
