<div class="row">
<div class="col-xs-12 col-sm-6">
  <h3>About</h3>
  <p>Founded in 2001, the Shabbatones are the student-run Jewish a cappella group at the University of Pennsylvania. One of the premier Jewish a cappella groups in the country, we are known for our energetic arrangements and entertaining performances.</p>
  <p>Specializing in popular American, Israeli and Jewish music, all of our arrangements are composed, directed and performed by students. Shabbatones members and alumni include undergraduate and graduate students, studying a wide variety of subjects like engineering, psychology, English, and economics. We come from a variety of Jewish backgrounds, unified by a love for Jewish music and a commitment to being the voice of one of the largest and most vibrant Hillels in the nation.</p>
  <p>In the thirteen years since the Shabbatones began, we have performed for a variety of audiences at Penn and throughout the world. During the year, the group enjoys performing at synagogues, schools, and other venues across the northeast. During breaks from school the group has gone on tour to California, London, Miami, Houston, and New Orleans. Some highlights include a concert at Disneyland and a performance to open for Committed, winners of NBC's "The Sing Off". If you'd like to see us live, please check our <a href="#events">events</a> page for a list of our upcoming performances, or <a href="mailto:contact@pennshabbatones.com" target="_blank">email us</a> to discuss booking our group for your next event.</p>
</div>

<div class="col-xs-12 col-sm-6">
  <h3>Honors</h3>
  <p>Third Place and Audience Favorite in <a href="http://www.kolhaolam.org/" target="_blank">Kol Ha'Olam</a>, the national collegiate Jewish a cappella competition in 2011
  <p>Honorable Mention for Friday Night Lights in the <a href="http://www.rarb.org/picks/2009/" target="_blank">Recorded A Cappella Review Board's</a> best a cappella albums of 2009
  <p>Five songs included in the <a href="http://www.bojac.org/" target="_blank">Best of Jewish A Cappella</a> compilation series

  <h3>Press</h3>
  <p><a href="http://thejewishchronicle.net/view/full_story/24001843/article-Coming-to-Pittsburgh" target="_blank">Coming to Pittsburgh</a> - The Jewish Chronicle, Nov 2013</p>
  <p><a href="http://www.jweekly.com/article/full/67365/singers-find-sure-appeal-of-jewish-a-cappella-groups/" target="_blank">Singers find sure appeal of Jewish a cappella groups</a> - J. Weekly, Jan 2013</p>
  <p><a href="http://www.thedp.com/article/2011/02/penn_nbc_stars_share_stage" target="_blank">Penn, NBC stars share stage</a> - The Daily Pennsylvanian, Feb 2011</p>
  <p><a href="http://www.thedp.com/article/2011/01/shabbatones_tour_the_south_over_winter_break" target="_blank">Shabbatones tour the South over winter break</a> - The Daily Pennsylvanian, Jan 2011</p>
</div>
</div>

<div class="row">
<div class="col-xs-12 col-sm-6">
  <h3>Contact</h3>
  <a href="mailto:contact@pennshabbatones.com" target="_blank">
    <button type="button" class="btn btn-default"><img src="img/icons/email-blk.png" /> contact@pennshabbatones.com</button></a>
  <br>
  <a href="https://www.gigsalad.com/the_shabbatones_philadelphia" target="_blank">
    <button type="button" class="btn btn-default"><img src="img/icons/gigsalad-blk.png" />  Request information on GigSalad</button></a>
</div>

<div class="col-xs-12 col-sm-6">
  <h3>Follow</h3>
  <a href="https://www.facebook.com/pennshabbatones" target="_blank">
    <button type="button" class="btn btn-default"><img src="img/icons/facebook-blk.png" />Facebook</button></a>
  <a href="https://twitter.com/PennShabbatones" target="_blank">
    <button type="button" class="btn btn-default"><img src="img/icons/twitter-blk.png" />Twitter</button></a>
  <a href="spotify:artist:4YvmnYZKdOpPcZTVzXcCRS" target="_blank">
    <button type="button" class="btn btn-default"><img src="img/icons/spotify-blk.png" />Spotify</button></a>
</div>
</div>

<div class="row">
<div class="col-xs-12" id="footnote">
  <br>
  <h6>&copy; 2014 University of Pennsylvania Shabbatones</h6>
  <h6>Penn Shabbatones is a student-led group in partnership with Hillel at the University of Pennsylvania.</h6>
</div>
</div>