<div class="col-xs-12 col-sm-6 album-details">

  <img class="img-rounded cover-art-details" src="img/album_covers/honey_and_hot_sauce.jpg" /><br>

  <!-- Purchase Path via PayPal -->
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id={{cd.gsx$paypalid.$t}}" target="_top">
    <button type="button" class="btn btn-warning"><img src="img/icons/paypal-sm.png" /> Buy Album</button></a>

  <!-- Direct to iTunes -->
  <a href="https://itunes.apple.com/us/cd/{{cd.gsx$itunesname.$t}}/{{cd.gsx$itunesid.$t}}" target="itunes_store">
    <button type="button" class="btn btn-success"><img src="img/icons/apple-sm.png" /> Download</button></a>

</div>

<!--put in song list that is hidden on mobile and tablet-->

<div class="col-xs-12 col-sm-6">
  <iframe src="https://embed.spotify.com/?uri=spotify:album:0hMgrz23VgOBUjGaGuIkRf&amp;theme=white" frameborder="0" allowtransparency="true"></iframe>
  <!-- add width and height? 533 for all except shabbaholics (609) -->
</div>
