<div class="col-sm-6 hidden-xs alumni-video">

  <!-- Video -->
  <iframe src="http://www.youtube.com/embed/G7Nvo570L7M?rel=0" frameborder="0"></iframe>
  <h4>What The Shabbatones Means To Us</h4>
  <p>Produced in honor of our tenth anniversary in 2011, this video<br>is a snapshot of who we are as a community of students and alumni.</p>
</div>

<div class="col-xs-12 col-sm-6 alumni-table">
  <table class="table table-hover table-condensed table-responsive">

    <!-- Table Header Row with Sort Functionality -->
    <thead>
      <td id="name-col" ng-click="column = 'name' ; reverse = !reverse">
        <h4><i class="fa fa-chevron-right"></i>Name <i class="fa fa-sort"></i></h4>
      </td>
      <td id="part-col" ng-click="column = 'voicepart' ; reverse = !reverse">
        <h4><i class="fa fa-microphone"></i>Part <i class="fa fa-sort"></i></h4>
      </td>
      <td id="year-col" ng-click="column = 'gradyear' ; reverse = !reverse">
        <h4><i class="fa fa-graduation-cap"></i>Year <i class="fa fa-sort"></i></h4>
      </td>
      <td id="school-col" ng-click="column = 'school' ; reverse = !reverse">
        <h4><i class="fa fa-university"></i>School <i class="fa fa-sort"></i></h4>
      </td>
    </thead>

    <!-- List of All Shabbatones -->
    <tbody>
      <tr ng-repeat="alum in alumni | orderBy : column : reverse | pagination: (currentPage-1) * pageSize | limitTo : pageSize">
        <td id="name-col">
          {{alum.name}}
          <span class="pull-right alumni-roles">
            <span ng-show="alum.musicaldirector"><i class="fa fa-music"></i></span>
            <span ng-show="alum.president"><i class="fa fa-magic"></i></span>
            <span ng-show="alum.cofounder"><i class="fa fa-star"></i></span>
            <span ng-show="alum.cdeditorproducer"><i class="fa fa-headphones"></i></span>
          </span>
        </td>
        <td id="part-col">{{alum.voicepart}}</td>
        <td id="year-col">{{alum.gradyear}}</td>
        <td id="school-col">{{alum.school}}</td>
      </tr>
    </tbody>
  </table>

  <!-- Additional Sort Options -->
  <span class="btn-group btn-group-xs">
    <button type="button" class="btn btn-default" ng-click="column = 'musicaldirector' ; reverse = true ; currentPage = 1"><i class="fa fa-music"></i> Musical Director</button>
    <button type="button" class="btn btn-default" ng-click="column = 'president' ; reverse = true ; currentPage = 1"><i class="fa fa-magic"></i> President</button>
    <button type="button" class="btn btn-default" ng-click="column = 'cofounder' ; reverse = true ; currentPage = 1"><i class="fa fa-star"></i> Co-Founder</button>
    <button type="button" class="btn btn-default" ng-click="column = 'cdeditorproducer' ; reverse = true ; currentPage = 1"><i class="fa fa-headphones"></i> CD Producer</button>
  </span><br>

  <!-- Pagination -->
  <pagination total-items="totalItems" items-per-page="pageSize" ng-model="currentPage"></pagination>
  
</div>
