<!-- INCOMPLETE // CAROUSEL DOES NOT YET LOAD IMAGES + VIDEO -->

<div id="carousel" class="carousel slide" data-ride="carousel">

  <script>
  $(document).ready(function(){
    $('.carousel').carousel();
    interval: 3000
  });
  </script>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item" ng-repeat="item in carousel.features">
      <img ng-show="!isVideo" src="{{item.gsx$contentlink}}" /><br>
      <iframe ng-show="isVideo" width="640" height="360" src="//www.youtube.com/embed/{{item.gsx$contentlink}}?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" data-slide="prev">
    <i class="fa fa-chevron-circle-left"></i>
  </a>
  <a class="right carousel-control" href="#carousel" data-slide="next">
    <i class="fa fa-chevron-circle-right"></i>
  </a>

</div>

<div id="title">
  <h1>penn shabbatones</h1>
  <h4>University of Pennsylvania's Jewish A Cappella Group</h4>
</div>