<div class="col-xs-12 members-grid">
<!--   <ul class="media-list"> -->

    <!-- List of Current Shabbatones -->
<!--     <li class="col-xs-12 col-md-6 media" ng-repeat="member in members | orderBy : 'gradyear' ">
      <img class="media-object pull-left img-rounded" ng-src="{{member.photo}}">
      <div class="media-body">
        <h4 class="media-heading"><i class="fa fa-chevron-right"></i>{{member.name}}<i class="fa fa-microphone"></i>{{member.voicepart}}<i class="fa fa-graduation-cap"></i>{{member.school}} {{member.gradyear}}</h4>
        <span ng-show="member.musicaldirector"><h4><i class="fa fa-music"></i>Musical Director</h4></span>
        <span ng-show="member.president"><h4><i class="fa fa-magic"></i>President</h4></span>
        <h5>{{member.bio}}</h5>
      </div>
    </li>

  </ul> -->

<div class="grid-item" ng-repeat="member in members | orderBy : 'gradyear' ">
  <a class="grid-link" ng-href="#">
    <div class="caption">
      <div class="caption-content">
        <i class="fa fa-plus-square-o fa-3x"></i><br>
        <div class="caption-text">
          <i class="fa fa-chevron-right"></i> {{member.name}}<br>
          <i class="fa fa-microphone"></i> {{member.voicepart}}<br>
          <i class="fa fa-graduation-cap"></i> {{member.school}} {{member.gradyear}}<br>
          <span ng-show="member.musicaldirector"><i class="fa fa-music"></i> Musical Director<br></span>
          <span ng-show="member.president"><i class="fa fa-magic"></i> President<br></span>
        </div>
      </div>
    </div>
    <img ng-src="{{member.photo}}" />
  </a>
</div>