<div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="album in albums | orderBy : '-releaseyear' ">
  <img class="img-rounded cover-art-grid" ng-src="{{album.coverart}}" /><br>

  <!-- Add to Cart via PayPal -->
  <a ng-show="album.paypalid" ng-href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id={{album.paypalid}}" target="_top" analytics-on="click" analytics-category="Add to PayPal Cart" analytics-event="Music Section" analytics-label="{{album.albumtitle}}">
    <button type="button" class="btn btn-warning"><img src="img/icons/paypal-sm.png" /> Buy Album</button></a>

  <a ng-show="!album.paypalid" href>
    <button type="button" class="btn btn-danger">Sold Out</button></a>

  <!-- Download via iTunes -->
  <a ng-show="album.itunesid" ng-href="https://itunes.apple.com/us/album/{{album.itunesname}}/{{album.itunesid}}" target="itunes_store" analytics-on="click" analytics-category="Download from iTunes" analytics-event="Music Section" analytics-label="{{album.albumtitle}}">
    <button type="button" class="btn btn-success"><img src="img/icons/apple-sm.png" /> Download</button></a>

  <!-- Link to Album Page with Preview Clips from Spotify -->
  <a ng-show="album.spotifyid" ng-href="#music/{{album.itunesname}}">
    <button type="button" class="btn btn-primary"><img src="img/icons/spotify-sm.png" /> Preview</button></a>
</div>